{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="create_blog">
        <h3 class="alert alert-warning" style="text-align: center;">
            Before upload your blog, you should edit your text on <a href="https://texter.ru/split-text-into-paragraphs">this</a> web-site
        </h3>
        <div class="card text-center" style="width: 25rem; margin: 0 auto;">
          <div class="card-body">
            <h2 class="card-title">{{ title }}</h2>
            <form action="{% url 'create_blog' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
        </div>
    </div>
{% endblock %}